<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../node_modules/lodash/lodash.min.js"></script>
    <script src="js/main.js"></script>

    <title>Form Designer</title>
    <style type="text/css">
      body {
        margin: 10px;
      }

      ul {
        list-style-type: none;
      }

      ul li {
        margin: 5px 0;
      }

      input[type=text], input[type=date] {
        width: 150px;
      }
    </style>
</head>

<body>
<div>
    <div id="container" class="text-center"></div>
    <div id="popUp" title="Choose Type"></div>
</div>

<script id="formPreview" type="text/html">
    <button class="btn btn-default btn-sm" onclick="reRenderEditor()">
        edit
    </button>
    <div>
        <ul>
        <% items.forEach(function(item,index) { %>
           <li>
                <% if(item.type==="text") {%>
                    <input type="text">
                <%} else {%>
                    <input type="date">
                <%}%>
           </li>
        <% }) %>
        </ul>
    </div>
</script>


<script id="formEditor" type="text/html">
    <button class="btn btn-default btn-sm" onclick="reRenderPreview()">
        preview
    </button>
    <div>
        <ul>
            <% items.forEach(function(item,index) { %>
            <li>
                <% if(item.type==="text") {%>
                <input type="text">
                <%} else {%>
                <input type="date">
                <%}%>
                <button class="btn btn-default btn-sm" onclick="removeItem(<%-index%>)">
                    -
                </button>
            </li>
            <% }) %>
        </ul>
        <button class="btn btn-default btn-sm" onclick="choose()">
            +
        </button>
    </div>
</script>

<script id="chooseDialog" type="text/html">
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="dialogType" checked value="date">
            date
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="dialogType" checked value="text">
            text
        </label>
    </div>
    <button type="submit" class="btn btn-primary" onclick="addItem(this)">submit</button>
</script>
</html>

